.x{
    color: black;
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.hellokitty{
    margin-right: 25%;
    text-align: center;
    color:blue;
}
img{
    margin-left: 25%;
    border: 5px solid blueviolet;
}