*{
    background-color: pink;
}
.x{
    color: black;
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

img{
    margin-left: 25%;
    border: 5px solid blueviolet;
}